.no-charactes-wrapper{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.charactes-wrapper{
  padding: 0 0 2em 0;

  .character-list {
    width: 1248px;
    display: flow-root;
    margin: 0 auto;
    color: white;
    text-align: center;
  
    h1{
      margin: 2em auto;
    }
  }
  
}

// Media queries  
@media only screen and (max-width: 1200px) {
  .character-list {
    width: 640px;
  }
}
