.detail-wrapper{
  color: white;
}

.card-big{
  width: 300px;
  display: block;
  display: flexbox;
  background: rgb(60, 62, 68);
  border-radius: 0.5em;
  margin: 6em auto;
  box-shadow: 0px 6px 16px -4px #232323;
  

  .card-img-wrapper{
    border-radius: 0.5em;
    overflow: hidden;
  }

  .card-detail{
    text-align: left;
    color: white;
    .section{
      margin: 1em;

      h2{
        font-weight: bolder;
        margin-bottom: 0;
      }

      .section-header{
        font-size: 14px;
        color: rgb(158, 158, 158);
        display: block;
      }

      .status-icon{
        height: 0.5em;
        width: 0.5em;
        display: block;
        border-radius: 50%;
        float: left;
        margin: 6px 6px 6px 0;
        
        &.alive{
          background-color: #55CC44;
        }
        &.dead{
          background: #CC4454;
        }
        &.unknown{
          border: 1px solid #CC4454;
        }
        // background: #CC4454;
      }
    }
    
  }
}