.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;

  .register-container {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 40%;
    max-width: 450px;
    padding: 2em;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;

    h2.head {
      margin-bottom: 40px;
    }

    form {
      margin-bottom: 2em;

      .form-field {
        input {
          background-color: #f6f6f6;
          border: none;
          color: #0d0d0d;
          width: 50%;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 5px;
          border: 2px solid #f6f6f6;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
        }

        .invalid-feedback {
          color: #ca4242;
        }

        button {
          background-color: #ef8354;
          color: white;
          text-transform: uppercase;
          width: 50%;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 5px;
          border: 2px solid #f6f6f6;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
        }

        input:focus,
        input:focus-visible {
          background-color: #fff;
          border-bottom: 2px solid #5fbae9 !important;
        }

        input:placeholder {
          color: #cccccc;
        }
      }
    }
  }
}
