.navbar{
  height: 80px;
  padding: .5rem;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  
  img.logo {
    width: 123px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    margin: 0 2rem;

    img.avatar {
      width: 20px;
      border-radius: 50%;
    }
    span{
      display: block;
      float: right;
    }

    .nav-item .nav-link{
      color: #0f7173ff;
      padding: .5rem;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 700;

      &:hover{
        color: #ef8354ff;
      }
    }
  }
}